<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="VCUser" value="username@orgname"/>
    <add key="VCUserPwd" value="password"/>
    <add key="VCUrl" value="https://my-vcloud.mydomain.com"/>
  </appSettings>
</configuration>